 <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div>
                    <span style="float: left; margin-left: 2vw;"><img src="img/Logo.png" style="width : 4em;"/></span>
                    <span><a href="#home" class="navbar-brand" style="font-family : Segoe UI;font-size: 21px;font-weight: 500;">ePark Admin</a></span>
                </div>

            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#home" style="font-family : Segoe UI;"><i class="fa fa-dashboard fa-fw"></i> Home Page</a>
                        </li>

                        <li>
                            <a href="#addLocation" style="font-family : Segoe UI;"><i class="fa fa-plus-square fa-fw"></i> Location Details</a>
                        </li>

                        <li>
                            <button class="btn btn-default btn-block" type="button" data-target="#userlist" style="font-family : Segoe UI; text-align:left;" data-toggle="collapse"><i class="fa fa-plus-square fa-fw"></i> User Details</button>
                            <div class="collapse" id="userlist">
                              <ul class="nav nav-pills nav-stacked">
                                <li>
                                  <a href="#user" style="font-family : Segoe UI;">User Details</a>
                                </li>
                                <li>
                                  <a href="#addLocationAdmin" style="font-family : Segoe UI;">Location Admin Details</a>
                                </li>
                              </ul>
                            </div>
                        </li>

                        <li>
                            <a href="#/" style="font-family : Segoe UI;"><i class="fa fa-stop-circle fa-fw"></i> Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="font-family : Segoe UI;">Overall Parking Status</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-automobile fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{parkingSlotCount}}</div>
                                    <div style="font-family : Segoe UI; font-size : 18px;">Parking Slots</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Sector 5, Salt Lake</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-feed fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{totalSensorCount}}</div>
                                    <div style="font-family : Segoe UI; font-size : 18px;">Parking Sensors</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Last Count : {{currentDate}}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-thumbs-up fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{healthySensorCount}}</div>
                                    <div style="font-family : Segoe UI; font-size : 18px;">Working Sensors</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Last Update : {{currentTime}}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-thumbs-down fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{faultySensorCount}}</div>
                                    <div style="font-family : Segoe UI; font-size : 18px;">Damaged Sensors</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Last Update : {{currentTime}}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">

                         <div class="panel panel-default" ng-repeat="results in result">
				                        <div class="panel-heading">
				                            <div style="font-family : Segoe UI; font-size : 19px; font-weight:500;">{{results.name}} <span style="font-size: 13px; margin-left: 1vw; color: darkslategrey;">(Location ID : <span style="color : tomato;">{{results._id}}</span>)</span></div><br/>
				                            <div>
				                                 <img src="img/wallet.png" style="width : 2em;"/><span style="font-size: 14px; margin-left: 1vw; font-family: Segoe UI;">Hourly Rate : </span><span style="font-size: 20px;color: green;"> ₹{{results.hourly_price}}/hour</span>
				                                 <img src="img/slot.png" style="width : 2em; margin-left: 1vw;"/><span style="font-size: 14px; margin-left: 1vw; font-family: Segoe UI;">Total Slots : </span><span style="font-size: 20px;color: green;">{{results.number_of_slot}}</span>
				                                <!-- <img src="img/booked.png" style="width : 2em; margin-left: 1vw;"/><span style="font-size: 14px; margin-left: 1vw; font-family: Segoe UI;">Booked Slots : </span><span style="font-size: 20px;color: green;">{{results.booked_slot}}</span>-->
				                                 <img src="img/open.png" style="width : 2em; margin-left: 1vw;"/><span style="font-size: 14px; margin-left: 1vw; font-family: Segoe UI;">Opening Hours : </span><span style="font-size: 20px;color: green;">{{checkTimeFormatNew(results.opening_hours.start)}}</span>
				                                 <img src="img/close.png" style="width : 2em; margin-left: 1vw;"/><span style="font-size: 14px; margin-left: 1vw; font-family: Segoe UI;">Closing Hours : </span><span style="font-size: 20px;color: green;">{{checkTimeFormatNew(results.opening_hours.end)}}</span>
				                            </div>
				                        </div>
				                        <!-- /.panel-heading -->
				                        <div class="panel-body">
				                            <div class="table-responsive">
				                                <table class="table table-striped table-bordered table-hover">
				                                    <thead>
				                                        <tr>
				                                            <th style="text-align : center; font-family: Segoe UI;">Sensor ID</th>
				                                            <th style="text-align : center; font-family: Segoe UI;">Sensor Health</th>
				                                            <th style="text-align : center; font-family: Segoe UI;">Booking Information</th>
				                                            <th style="text-align : center; font-family: Segoe UI;">Disable Sensor</th>
				                                        </tr>
				                                    </thead>
				                                    <tbody>
				                                        <tr ng-repeat="slot in results.parking_arr">
				                                            <td style="text-align : center; font-family: Segoe UI; cursor : pointer;">{{slot._id}}</td>
				                                            <td style="text-align : center;"><img ng-src="{{slot.status == 'available' ? green : red}}" style="width : 2em;"/></td>
				                                            <td style="text-align : center;"><button type="button" ng-click="getSlotDetails(results._id, slot._id);" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Check Sensor Booking</button></td>
				                                            <td style="text-align : center; cursor : pointer;" ng-click="deleteSensor(slot._id)"><img src="img/remove.png" style="width : 2em;"></td>
				                                        </tr>
				                                    </tbody>
				                                </table>
				                              </div>
				                          </div>
                             </div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="font-family : Segoe UI;">Sensor Booking Information</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-success" ng-if="!bookingPresentFlag">
		         <div style="font-size: 16px; font-family: Segoe UI; text-align: center; font-weight: 500;">There are currently no bookings to Sensor slot - {{slotIDDisplay}}.</div>
		    </div>

            <table class="table" ng-if="bookingPresentFlag">
				    <tbody>
				      <tr class="success">
				        <td style="text-align : center; font-family : Segoe UI; font-weight : 500;">Sensor ID</td>
				        <td style="text-align : center; font-family : Segoe UI;">{{slotIDDisplay}}</td>
				      </tr>
				      <tr class="active">
				        <td style="text-align : center; font-family : Segoe UI; font-weight : 500;">Sensor Booking Status</td>
				        <td style="text-align : center; font-family : Segoe UI;">{{bookingStatus}}</td>
				      </tr>
				      <tr class="danger">
				        <td style="text-align : center; font-family : Segoe UI; font-weight : 500;">Booking Start Time</td>
				        <td style="text-align : center; font-family : Segoe UI;">{{bookingStartTime}}</td>
				      </tr>
				      <tr class="info">
				        <td style="text-align : center; font-family : Segoe UI; font-weight : 500;">Booking Span</td>
				        <td style="text-align : center; font-family : Segoe UI;">{{bookingSpan}} Hour(s)</td>
				      </tr>
				      <tr class="success">
				        <td style="text-align : center; font-family : Segoe UI; font-weight : 500;">Generated OTP for user</td>
				        <td style="text-align : center; font-family : Segoe UI;">{{userOTP}}</td>
				      </tr>
				      <tr class="danger">
				        <td style="text-align : center; font-family : Segoe UI; font-weight : 500;">Has OTP been matched?</td>
				        <td style="text-align : center; font-family : Segoe UI;">{{userOTPStatus}}</td>
				      </tr>
				      <tr class="warning">
				        <td style="text-align : center; font-family : Segoe UI; font-weight : 500;">Booked User Name</td>
				        <td style="text-align : center; font-family : Segoe UI;">{{bookedUserName}}</td>
				      </tr>
				      <tr class="active">
				        <td style="text-align : center; font-family : Segoe UI; font-weight : 500;">Booked Vehicle No.</td>
				        <td style="text-align : center; font-family : Segoe UI;">{{bookedVehicleNumber}}</td>
				      </tr>
				      <tr class="info">
				        <td style="text-align : center; font-family : Segoe UI; font-weight : 500;">Booked User Email</td>
				        <td style="text-align : center; font-family : Segoe UI;">{{bookedUserEmail}}</td>
				      </tr>
				      <tr class="success">
				        <td style="text-align : center; font-family : Segoe UI; font-weight : 500;">Booked User Mobile</td>
				        <td style="text-align : center; font-family : Segoe UI;">{{bookedUserMob}}</td>
				      </tr>
				    </tbody>
			</table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
