<html>
    <head>
         <title>ePark Welcome Email</title>
    </head>

    <body>
			<div style="font-family:HelveticaNeue-Light,Arial,sans-serif;background-color:#eeeeee">
				<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
			    <tbody>
			        <tr>
			        	<td>
			                <table align="center" width="750px" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee" style="width:750px!important">
			                <tbody>
			                	<tr>
			                    	<td>
			                			<table width="690" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
			                            <tbody>
			                            	<tr>
			                                    <td colspan="3" height="80" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee" style="padding:0;margin:0;font-size:0;line-height:0">

			                                        <table width="690" align="center" border="0" cellspacing="0" cellpadding="0">
			                                        <tbody>
			                                        	<tr>
			                                            	<td width="30"></td>
			                                                <td align="left" valign="middle" style="text-align : center; padding:0;margin:0;font-size:0;line-height:0"><img style="width : 25%;" src="https://firebasestorage.googleapis.com/v0/b/trialdb-b2ab2.appspot.com/o/Logo.png?alt=media&token=be7563c6-59b1-4785-a4b4-eea446fbd779" alt="ePark Logo"></td>
			                                                <td width="30"></td>
			                                            </tr>
			                                       	</tbody>
			                                        </table>
			                                  	</td>
			                    			</tr>
			                                <tr>
			                                    <td colspan="3" align="center">
			                                        <table width="630" align="center" border="0" cellspacing="0" cellpadding="0">
			                                        <tbody>


			                                            	<tr><td width="25"></td>
			                                                <td align="center">
			                                                    <h1 style="font-family:Segoe UI;font-size:48px;color:#404040;line-height:48px;font-weight:700;margin:0;padding:0">Welcome to ePark</h1>
			                                                </td>
			                                                <td width="25"></td>
			                                            </tr>
			                                            <tr>
			                                            	<td colspan="3" height="40"></td></tr><tr><td colspan="5" align="center">
			                                                    <p style="font-family:Segoe UI;color:#404040;font-size:16px;line-height:24px;font-weight:400;padding:0;margin:0">Congratulations on joining the ePark user family! It's great to have you on board and from now leave all your worries surrounding your car parking in Kolkata with us. <b>ePark</b> is finally in town and operational in Sector 5 Salt Lake City, so from now all your parking worries are on us.</p><br>
			                                                    <p style="font-family:Segoe UI;color:#404040;font-size:16px;line-height:22px;font-weight:300;padding:0;margin:0">
			                                                     Using the ePark Android App, book and check Parking slot status real-time and enjoy a hassle free vehicle booking experience. #EnjoyParking
			                                                </td>
			                                            </tr>
			                                            <tr>
			                                       	</tr>
			                                        <tr><td colspan="3" height="30"></td></tr>
			                                 	</tbody>
			                                    </table>
			                             	</td>
			                   			</tr>

			                            <tr bgcolor="#ffffff">
			                                <td width="30" bgcolor="#eeeeee"></td>
			                                <td>
			                                    <table width="570" align="center" border="0" cellspacing="0" cellpadding="0">
			                                    <tbody>
			                                    	<tr>
			                                        	<td colspan="4" align="center">&nbsp;</td>
			                                      	</tr>
			                                        <tr>
			                                        	<td colspan="4" align="center"><h2 style="font-size:24px; font-weight : 500; font-family: Segoe UI;">The ePark Advantage</h2></td>
			                                      	</tr>
			                                        <tr>
			                                        	<td colspan="4">&nbsp;</td>
			                                      	</tr>
			                                        <tr>
			                                        	<td width="120" align="right" valign="top"><img src="https://firebasestorage.googleapis.com/v0/b/trialdb-b2ab2.appspot.com/o/car-flat.png?alt=media&token=c5bdd142-6385-4c02-a4cf-ebd8cc445b0a" alt="tool" width="120" height="120"></td>
			                                            <td width="30"></td>
			                                            <td align="left" valign="middle">
			                                                <h3 style="color:#404040;font-size:18px;line-height:24px;font-weight:bold;padding:0;margin:0;">Real Time Parking</h3>
			                                                <div style="line-height:5px;padding:0;margin:0">&nbsp;</div>
			                                                <div style="color:#404040;font-size:16px;line-height:22px;font-weight:lighter;padding:0;margin:0;">Using ePark now, you can view and book parking slots real time at any place, just at the tap of a button. Get all details real-time.</div>
			                                                <div style="line-height:10px;padding:0;margin:0">&nbsp;</div>
			                                          	</td>
			                                            <td width="30"></td>
			                                        </tr>
			                                        <tr>
			                                        	<td colspan="5" height="40" style="padding:0;margin:0;font-size:0;line-height:0"></td>
			                                      	</tr>
			                                        <tr>
			                                        	<td width="120" align="right" valign="top"><img src="https://firebasestorage.googleapis.com/v0/b/trialdb-b2ab2.appspot.com/o/inr.png?alt=media&token=d2d84d6a-ec47-4bd6-8e29-db8cbddadcff" alt="no fees" width="120" height="120"></td>
			                                            <td width="30"></td>
			                                            <td align="left" valign="middle">
			                                            	<h3 style="color:#404040;font-size:18px;line-height:24px;font-weight:bold;padding:0;margin:0;">Cheapest Rates</h3>
			                                              	<div style="line-height:5px;padding:0;margin:0">&nbsp;</div>
			                                              	<div style="color:#404040;font-size:16px;line-height:22px;font-weight:lighter;padding:0;margin:0;">Book a parking slot at the cheapest of rates and only on a per-hour basis. Pay for only as long your car stays, not a paisa more.</div>
			                                              	<div style="line-height:10px;padding:0;margin:0">&nbsp;</div>
			                                          	</td>
			                                            <td width="30"></td>
			                                        </tr>
			                                        <tr>
			                                        	<td colspan="5" height="40" style="padding:0;margin:0;font-size:0;line-height:0"></td>
			                                       	</tr>
			                                        <tr>
			                                        	<td width="120" align="right" valign="top"><img src="https://firebasestorage.googleapis.com/v0/b/trialdb-b2ab2.appspot.com/o/icon-cctv.png?alt=media&token=46d2ed56-4921-4b96-a45f-922d206ce192" alt="creditibility" width="120" height="120" class="CToWUd"></td>
			                                            <td width="30"></td>
			                                            <td align="left" valign="middle">
			                                            	<h3 style="color:#404040;font-size:18px;line-height:24px;font-weight:bold;padding:0;margin:0;">Highest Security</h3>
			                                              	<div style="line-height:5px;padding:0;margin:0">&nbsp;</div>
			                                              	<div style="color:#404040;font-size:16px;line-height:22px;font-weight:lighter;padding:0;margin:0;">With ePark we can ensure that your car is 24*7 under vigilance by both our Parking Operators and the CCTV cameras and so you car's safety is our responsibility.</div>
			                                          		<div style="line-height:10px;padding:0;margin:0">&nbsp;</div>
			                                           	</td>
			                                            <td width="30"></td>
			                                        </tr>
			                                        <tr>
			                                        	<td colspan="4">&nbsp;</td>
			                                        </tr>
			                                  	</tbody>
			                                    </table>
			                                    <table width="570" align="center" border="0" cellspacing="0" cellpadding="0">
			                                    <tbody>
			                                    	<tr>
			                                        	<td>
			                                            	<h2 style="color:#404040;font-size:22px;font-weight:bold;line-height:26px;padding:0;margin:0">&nbsp;</h2>
			                                        		<div style="color:#404040;font-size:16px;line-height:22px;font-weight:lighter;padding:0;margin:0; font-family: Segoe UI;">Start using the ePark mobile app for more benefits and features.</div>
			                                          	</td>
			                                      	</tr>
			                                        <tr>
			                                        	<td align="center">
			                                                <div style="text-align:center;width:100%;padding:40px 0">
			                                                    <table align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;padding:0">
			                                                    <tbody>
			                                                    	<tr>
			                                                        	<td align="center" style="margin:0;text-align:center"><a href="" style="font-size:18px;font-family:HelveticaNeue-Light,Arial,sans-serif;line-height:22px;text-decoration:none;color:#ffffff;font-weight:bold;border-radius:2px;background-color:#00a3df;padding:14px 40px;display:block; font-family: Segoe UI;" target="_blank">Start using ePark</a></td>
			                                                    	</tr>
			                                                   	</tbody>
			                                                 	</table>
			                                              	</div>
			                                        	</td>
			                                      </tr><tr><td>&nbsp;</td>
			                                      </tr></tbody></table></td>
			                                <td width="30" bgcolor="#eeeeee"></td>
			                            </tr>
			                          	</tbody>
			                            </table>
			                  			<table align="center" width="750px" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee" style="width:750px!important">
			                            <tbody>
			                            	<tr>
			                                	<td>
			                                        <table width="630" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
			                                        <tbody>
			                                        	<tr><td colspan="2" height="30"></td></tr>
			                                            <tr>
			                                            	<td width="360" valign="top">
			                                                	<div style="color:#a3a3a3;font-size:12px;line-height:12px;padding:0;margin:0; font-family: Segoe UI;">&copy; 2017 ePark India.</div>
			                                                	<div style="line-height:5px;padding:0;margin:0">&nbsp;</div>
			                                                	<div style="color:#a3a3a3;font-size:12px;line-height:12px;padding:0;margin:0; font-family: Segoe UI;">Made with &hearts; in Kolkata</div>
			                                        		</td>
			                                              	<td align="right" valign="top">
			                                                	<span style="line-height:20px;font-size:10px"><a href="" target="_blank"><img src="https://firebasestorage.googleapis.com/v0/b/trialdb-b2ab2.appspot.com/o/fb.png?alt=media&token=d16f6308-0ef4-40c6-b6f8-50c66b02ca04" style="width : 3em;" alt="facebook"></a>&nbsp;</span>
			                                                    <span style="line-height:20px;font-size:10px"><a href="" target="_blank"><img src="https://firebasestorage.googleapis.com/v0/b/trialdb-b2ab2.appspot.com/o/tw.png?alt=media&token=488376d8-5223-4886-88c5-aac8c5516570" style="width : 3em;" alt="twitter"></a>&nbsp;</span>
			                                                    <span style="line-height:20px;font-size:10px"><a href="" target="_blank"><img src="https://firebasestorage.googleapis.com/v0/b/trialdb-b2ab2.appspot.com/o/gplus.png?alt=media&token=4ef36a2e-e7be-4470-9572-6e7eefe639d3" style="width : 3em;" alt="googleplus"></a>&nbsp;</span>
			                                              	</td>
			                                            </tr>
			                                            <tr><td colspan="2" height="5"></td></tr>

			                                      	</tbody>
			                                        </table>
			                                   	</td>
			                  				</tr>
			                          	</tbody>
			                            </table>
			                  		</td>
			                	</tr>
			              	</tbody>
			                </table>
			            </td>
					</tr>
			 	</tbody>
			    </table>
			</div>
    </body>
</html>
