<md-bottom-sheet class="md-list md-has-header">
	  <md-subheader ng-cloak>More Options</md-subheader>
	  <md-list ng-cloak>
	    <md-list-item>
	      <md-button class="md-list-item-content" >
	        <md-icon md-svg-src="images/icons/ic_help_black_24px.svg"></md-icon>
	        <span class="md-inline-list-icon-label">Frequently Asked Questions</span>
	      </md-button>
	    </md-list-item>
	    
	    <md-list-item>
	      <md-button class="md-list-item-content" >
	        <md-icon md-svg-src="images/icons/ic_power_settings_new_black_24px.svg"></md-icon>
	        <span class="md-inline-list-icon-label">Logout from this Profile</span>
	      </md-button>
	    </md-list-item>
	  </md-list>
</md-bottom-sheet>