<md-dialog aria-label="Why is ePark only available for Street 11?">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Why is ePark only available for Street 11?</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Learn About the Beta Testing of ePark</h2>
        <p>The ePark System is currently in a Beta Parking phase with the support and assistance of the Government of West Bengal, 
           WEBEL and __ Agency. So for now although you can find the booking for parking slots in Sector 11, later on after 6 months
           we aim to roll out to the rest of the city of Kolkata.</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
          Ok Understood
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>