<md-content layout-padding>
  <h3>{{user.location_id.name}}</h3>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Weekly Stats</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row">
      Nothing to show
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Today's Stats</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
      <h2>Total Earnings: Nil</h2>
      <h3>Total Occupancy: Nil</h3>
    </md-card-content>
  </md-card>
</md-content>
